body {
   /* viewport units: vh (viewport height) vw, vmin (smallest between vh & vw) */
   margin: 0;
   font-family: 'Open Sans', sans-serif;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   overflow-y: auto;
   background-image: url("grass.png");
   background-repeat: repeat;
}

h1 {
   font-size: 6vmin;
   color: darkgray;
   letter-spacing: 1vmin;
}

h3 {
   font-size: 3vmin;
   text-transform: uppercase;
   letter-spacing: 1vmin;
}

main {
   height: 70vh;
   width: 70vh;
   margin-top: 2%;
   margin-bottom: 2%;
   border: 2px solid black;
   display: grid;
   grid-template-columns: repeat(8, 1fr);
   grid-template-rows: repeat(8, 1fr);
}

@media (max-width: 768px) {
   main {
      height: 55vh;
      width: 55vh;
   }
}

@media (max-width: 480px) {
   main {
      height: 40vh;
      width: 40vh;
   }
}


main > div {
   display: flex;
   justify-content: center;
   align-items: center;
   border: 1px solid black;
}

main > div > div {
   height: 80%;
   width: 80%;
   border-radius: 50%;
   background-size: cover;
   background-position: center;
}

.my-button {
   margin-bottom: 10px;
   background-color: grey;
   color: white;
   padding: 10px 20px;
   font-size: 16px;
   border: none;
   border-radius: 10px;
}

.my-button:hover {
   background-color: darkgrey;
   color: black;
}

.choice {
   background-color: white !important;
}

.choice:hover {
   background-color: black !important;
}